{% extends 'base.html.twig' %}

{% form_theme formHero 'bootstrap_4_layout.html.twig' %}

{% block title %}Creation d'un hero{% endblock %}

{% block body %}

    <h1>Création d'un héros</h1>

    {{ form_start(formHero) }}

    {{ form_widget(formHero) }}

    {{ form_end(formHero) }}
    
{% endblock %}