{% extends "homepage.html.twig" %}

{% block title %}Hero Manager - Edition du mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">Modifiez votre mot de passe</div>

        {% for messsage in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
        {% endfor %}

        {{form(form)}}
    </div>

{% endblock %}